.drop-zone {
	width: 100%;
	height: 500px;
	margin: 20px 0;
	border: 2px dashed #707070;
	background: #c1c1c1;
	
	@include border-radius(5px);
	
	.text {
		position: absolute;
		top:50%;
		left: 50%;
		margin-top: -45px;
		margin-left: -150px;
		font-size: 30px;
		color: #2c3e50;
	}
	
	form {
		width: 100%;
		height: 100%;
		
		input[type="file"] {
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	
}