.logo {
	margin: 0;
	padding: 20px 0;
	color: #fff;
	text-align: center;
	
	a {
		color: #fff;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	span {
		font-size: 14px;

		span {
			color: #97C246;
		}
	}
}