.result {
	display: none;
	margin-top: 10px;
	width: 100%;
	
	@media screen and (max-width: 768px) {
		text-align: center;
	}
	
	img {
		max-width: 100%;
		width: 100%;
	}
	
	pre {
		margin-top: 20px;
	}
}